.ttdc {
    width: 650px;
    background-color: #fedfc0;
    font-family: sans-serif;
    font-size: 0.8rem;
}
.title_dc {
    background-color: #cc0001;
    color: #f0d10a;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.type, .position {
    display: flex;
}
div {
    align-self: center;
    padding: 3px 10px;
}
.result {
    width: 650px;
    font-family: sans-serif;
    font-size: 0.8rem;
    background-color: #fedfc0;
}