.tinhamlich {
  font-family: Arial;
  width: 350px;
  background-color: #aee4ff;
  text-align: center;
}
.title_al {
  text-align: center;
  font-size: 23px;
  font-family: serif;
  font-style: italic;
  color: #fff;
  background-color: #005cb9;
}
.row1 {
  display: flex;
  font-size: 0.8rem;
}

.col1:first-child {
  flex-grow: 1;
}
.col1:last-child {
  flex-grow: 1;
}
.col1-btn {
  align-self: flex-end;
}
.col1 input {
  width: 100px;
}
img {
  padding: 10px 0;
}
